<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rfidhy.base.mapper.MkLeadSourceMapper">
    
    <resultMap type="MkLeadSource" id="MkLeadSourceResult">
        <result property="sourceId"    column="source_id"    />
        <result property="sourceName"    column="source_name"    />
        <result property="sourceType"    column="source_type"    />
        <result property="sourceOwnerId"    column="source_owner_id"    />
        <result property="sourceDesc"    column="source_desc"    />
        <result property="sourceCost"    column="source_cost"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="reserved1"    column="reserved1"    />
        <result property="reserved2"    column="reserved2"    />
        <result property="reserved3"    column="reserved3"    />
    </resultMap>

    <sql id="selectMkLeadSourceVo">
        select source_id, source_name, source_type, source_owner_id, source_desc, source_cost, sort, status, del_flag, create_by, create_time, update_by, update_time, reserved1, reserved2, reserved3 from mk_lead_source
    </sql>

    <select id="selectMkLeadSourceList" parameterType="MkLeadSource" resultMap="MkLeadSourceResult">
        <include refid="selectMkLeadSourceVo"/>
        <where>  
            <if test="sourceName != null  and sourceName != ''"> and source_name like concat('%', #{sourceName}, '%')</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="delFlag == null or delFlag == ''"> and del_flag = '0'</if>
        </where>
    </select>
    
    <select id="selectMkLeadSourceBySourceId" parameterType="Long" resultMap="MkLeadSourceResult">
        <include refid="selectMkLeadSourceVo"/>
        where source_id = #{sourceId}
    </select>
    
    <select id="selectMkLeadSourceByName" parameterType="String" resultMap="MkLeadSourceResult">
        <include refid="selectMkLeadSourceVo"/>
        where source_name = #{sourceName} and del_flag = '0' limit 1
    </select>

    <insert id="insertMkLeadSource" parameterType="MkLeadSource" useGeneratedKeys="true" keyProperty="sourceId">
        insert into mk_lead_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            source_id,
            <if test="sourceName != null and sourceName != ''">source_name,</if>
            <if test="sourceType != null and sourceType != ''">source_type,</if>
            <if test="sourceOwnerId != null">source_owner_id,</if>
            <if test="sourceDesc != null">source_desc,</if>
            <if test="sourceCost != null">source_cost,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="reserved1 != null">reserved1,</if>
            <if test="reserved2 != null">reserved2,</if>
            <if test="reserved3 != null">reserved3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            NULL,
            <if test="sourceName != null and sourceName != ''">#{sourceName},</if>
            <if test="sourceType != null and sourceType != ''">#{sourceType},</if>
            <if test="sourceOwnerId != null">#{sourceOwnerId},</if>
            <if test="sourceDesc != null">#{sourceDesc},</if>
            <if test="sourceCost != null">#{sourceCost},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            #{createTime},
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="reserved1 != null">#{reserved1},</if>
            <if test="reserved2 != null">#{reserved2},</if>
            <if test="reserved3 != null">#{reserved3},</if>
         </trim>
    </insert>

    <update id="updateMkLeadSource" parameterType="MkLeadSource">
        update mk_lead_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="sourceName != null and sourceName != ''">source_name = #{sourceName},</if>
            <if test="sourceType != null and sourceType != ''">source_type = #{sourceType},</if>
            <if test="sourceOwnerId != null">source_owner_id = #{sourceOwnerId},</if>
            <if test="sourceDesc != null">source_desc = #{sourceDesc},</if>
            <if test="sourceCost != null">source_cost = #{sourceCost},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="reserved1 != null">reserved1 = #{reserved1},</if>
            <if test="reserved2 != null">reserved2 = #{reserved2},</if>
            <if test="reserved3 != null">reserved3 = #{reserved3},</if>
        </trim>
        where source_id = #{sourceId}
    </update>

    <update id="deleteMkLeadSourceBySourceId" parameterType="MkLeadSource">
        update mk_lead_source
        <set>
            del_flag = #{delFlag},
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where source_id = #{sourceId}
    </update>

    <update id="deleteMkLeadSourceBySourceIds" parameterType="MkLeadSource">
        update mk_lead_source set del_flag = #{delFlag}
        <if test="updateTime != null">
            ,update_time = #{updateTime}
        </if>
        where source_id in 
        <foreach item="sourceId" collection="array" open="(" separator="," close=")">
            #{sourceId}
        </foreach>
    </update>
</mapper>